<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card my-5">
        <div class="card-body">
          <!-- Formulario de sincronización -->
          <h3 class="mb-4"><b>Sincronización</b></h3>

          <!-- Alerta -->
          <div *ngIf="showAlert" class="alert alert-{{alertType}} alert-dismissible fade show" role="alert">
            {{ alertMessage }}
            <button type="button" class="btn-close" (click)="closeAlert()" aria-label="Close"></button>
          </div>

          <!-- Sección: Importar archivo de Excel a MySQL -->
          <div class="mb-5">
            <h5><b>Importar archivo de Excel a MySQL</b></h5>
            <div class="form-group mb-3">
              <label class="form-label" for="excelFile">Campo del archivo</label>
              <div class="input-group">
                <input type="file" class="form-control" id="excelFile" (change)="onFileSelected($event)" />
                <button class="btn btn-primary" (click)="onUpload()">Subir</button>
              </div>
            </div>
          </div>

          <!-- Sección: Importar archivo de MySQL a ZOHO -->
          <div class="mb-4">
            <h5><b>Importar archivo de MySQL a ZOHO</b></h5>
            <div class="d-grid">
              <button class="btn btn-primary">Sincronizar</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
