# Ignorar toda la carpeta vendor por defecto
/vendor/

# Exceptuar PhpSpreadsheet y Composer dentro de vendor (permitir que se suban)
!vendor/phpoffice/
!vendor/composer/

# Asegurar que se suban todos los archivos dentro de phpoffice y composer
!vendor/phpoffice/**/*
!vendor/composer/**/*
# Ignorar la carpeta de composer.lock si no deseas rastrear los cambios en dependencias específicas
# composer.lock

# Ignorar archivos de configuración locales (si tienes configuraciones específicas para desarrollo o producción)
# /.env
# /.env.*

# Ignorar los archivos de caché de CodeIgniter
/writable/cache/
/writable/logs/
# /writable/debugbar/
/writable/session/
# /writable/sessions/

# Ignorar archivos temporales o de backup
*.bak
*.tmp

# Ignorar IDE específicos (opcional, dependiendo del IDE que uses)
.vscode/
.idea/

# Ignorar los archivos que PhpSpreadsheet genera temporalmente
*.xlsx
*.csv
# Ignorar la carpeta de system
/system/