<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="auth-header">
        <a href="javascript:"><img src="assets/images/logo-dark.svg" alt="logo" /></a>
      </div>
      <div class="card my-5">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-end mb-4">
            <h3 class="mb-0"><b>Login</b></h3>
            <a [routerLink]="['/register']" class="link-primary">Don't have an account?</a>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="email">Email Address</label>
            <input type="email" class="form-control" id="email" placeholder="Email Address" [(ngModel)]="email" />
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="password" />
          </div>
          <div class="d-grid mt-4">
            <button type="button" class="btn btn-primary" (click)="login()">Login</button>
          </div>
          <div class="saprator mt-3">
            <span>Login with</span>
          </div>
          <div class="row">
            <div class="col-4" *ngFor="let item of SignInOptions">
              <div class="d-grid">
                <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted">
                  <img [src]="item.image" alt="{{ item.name }} img" />
                  <span class="d-none d-sm-inline-block">{{ item.name }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
